.backtotop {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  border-radius: 100%;
  cursor: pointer;
  position: fixed;
  height: 70px;
  width: 70px;
  right: 5%;
  bottom: 5%;

  img {
    width: 20px;
  }
}
